@page "/"
@using Pizzaaa.BLL.Services;
@inject PizzaService PizzaService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Do">do</MudButton>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Do2">do2</MudButton>

@code{


    public async Task Do()
    {
        await PizzaService.Do();
    }
    public async Task Do2()
    {
        await PizzaService.Do2();
    }
}